################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/NetTrader.Indicator/v15
/NetTrader.Indicator/obj/Debug
/NetTrader.Indicator/bin/Debug
/NetTrader.Indicator.Test/obj/Debug
/NetTrader.Indicator.Test/bin/Debug
/packages/LumenWorksCsvReader.3.9.1
/NetTrader.Contract/bin/Debug/NetTrader.Contract.pdb
/NetTrader.Contract/bin/Debug/NetTrader.Contract.exe.config
/NetTrader.Contract/bin/Debug/NetTrader.Contract.exe
/NetTrader.Contract/obj/Debug/NetTrader.Contract.pdb
/NetTrader.Contract/obj/Debug/NetTrader.Contract.exe
/NetTrader.Contract/obj/Debug/NetTrader.Contract.csproj.FileListAbsolute.txt
