<?xml version="1.0" encoding="utf-8"?>
<configuration>  
  <startup>  
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>  
  </startup>  
  <appSettings>  
     <!--vas,stw,ioz,mvw,ioo-->
    <add key="StockNames" value="vas"/>
    <add key="downloadLocation" value="C:\Users\rines\Downloads\"/>
    <!--<add key="DownloadFolder" value="C:\Users\rines\Downloads\"/>-->  
  </appSettings>  
</configuration>
